body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background: #17171f;
  text-align: center;
}

h1 {
  color: #1182ae;
  margin: 0px;
}

label {
  color: #ececec ;
}

.input-container {
  margin: 20px;
}

.input-container label {
  margin: 0 15px;
  font-weight: bold;
}

.input-container input {
  border: 2px solid green;
  padding: 5px;
  margin-left: 5px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-bottom: 5px;
}

.grid-container3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-bottom: 5px;
}

.chart-box {
  background: rgba(255, 255, 255, 0);
  border: 2px solid rgba(0, 0, 0, 0);
  padding: 0px;
  position: relative;
}

.chart-box canvas {
  width: 100% !important;
  height: 400px !important;
}

.chart-box p {
  margin-top: 5px;
  font-weight: bold;
  color: #1182ae;
  font-size: x-large;
}

.data-table {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.data-table table {
  border-collapse: collapse;
  width: 300px;
}

.data-table td {
  border: 1px solid rgb(255, 255, 255);
  padding: 6px 12px;
  text-align: left;
  color: #1182ae;
}

.regression-labels {
  display: flex;
  justify-content: center;
  gap: 20px; /* spacing between equation and R² */
  margin-top: 5px;
}

.regression-labels p {
  margin: 0;
  color: #ffffff; /* or whatever color you're using */
  font-weight: bold;
  font-size: large;
}

.dividends p {
  font-size: x-large;
  color: #1182ae;
  font-weight: bold;
}

.dividend-info p {
  text-align: left;
  color: #ffffff;
  font-size: large;
  font-weight: lighter;
}
