<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Stock Analyzer</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
  <h1>Stock Analyzer</h1>

  <div class="input-container">
    <label>Stock:
      <input type="text" id="ticker" placeholder="e.g., AAPL" />
    </label>
    <label>Time Period:
      <input type="text" id="period" placeholder="e.g., 1y,1mo,10d" />
    </label>
    <label>Currency:
      <input type="text" id="currency" placeholder="e.g., MXN,USD" />
    </label>
    <button onclick="fetchAll()">Fetch</button>
  </div>

  <div class="grid-container">
    <div class="chart-box">
        <p>Stock Price History</p>
        <canvas id="chart1"></canvas>
    </div>
    <div class="chart-box">
        <p>RSI graph 1 month</p>
        <canvas id="chart2"></canvas>
    </div>
    <div class="chart-box">
        <p>Price, SMA10, SMA200</p>
        <canvas id="chart3"></canvas>
    </div>
    <div class="chart-box">
        <p>Ln Price History</p>
        <canvas id="chart4"></canvas>
        <p id="ln-equation-label"></p>
    </div>
    <div class="chart-box">
        <p>VIX, SMA5 3 Months</p>
        <canvas id="chart5"></canvas>
    </div>
    <div class="chart-box">
        <p>XLP/XLY ratio</p>
        <canvas id="chart6"></canvas>
    </div>

    <div class="data-table">
        <table>
        <tr><td>CAGR:</td><td id="cagr"></td></tr>
        <tr><td>Beta:</td><td id="beta"></td></tr>
        <tr><td>USD/MXN:</td><td id="usdmxn"></td></tr>
        <tr><td>Price (MXN):</td><td id="price"></td></tr>
        <tr><td>VIX:</td><td id="vix"></td></tr>
        <tr><td>Correlation:</td><td id="correlation"></td></tr>
        </table>
    </div>

  </div>

  

  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
