<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Stock Analyzer</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
  <h1>Stock Analyzer</h1>
  <div class="input-container">
    <label>Stock:
      <input type="text" id="ticker" placeholder="AAPL" />
    </label>
    <label>Time Period:
      <input type="text" id="period" placeholder="1y,1mo,10d" />
    </label>
    <button onclick="fetchAll()">Fetch</button>
  </div>

  <div class="title">
    <h1 id="stock-name"></h1>
    <h2 id="sector"></h2>
    <h2 id="industry"></h2>
  </div>
  
  <div class="grid-container">
    <div class="chart-box">
        <p>Stock Price History</p>
        <canvas id="chart1"></canvas>
    </div>
    <div class="chart-box">
        <p>Ln Price History</p>
        <canvas id="chart4"></canvas>
        <div class="regression-labels">
          <p id="ln-equation-label" style="margin: 0;"></p>
          <p id="r2" style="margin: 0;"></p>
        </div>
    </div>
    <div class="chart-box">
        <p>RSI Graph 1 Month</p>
        <canvas id="chart2"></canvas>
    </div>
    <div class="chart-box">
        <p>Price, SMA20, SMA200</p>
        <canvas id="chart3"></canvas>
    </div>
    <div class="chart-box">
        <p>VIX, SMA5 30 Days</p>
        <canvas id="chart5"></canvas>
    </div>
    <div class="chart-box">
        <p>XLY/XLP Ratio</p>
        <canvas id="chart6"></canvas>
    </div>
  </div>

  <div class="grid-container3">
    <div class="data-table">
      <p>Data</p>
      <div class="data">
        <p id="cagr"></p>
        <p id="beta"></p>
        <p id="currency"></p>
        <p id="usdmxn"></p>
        <p id="price"></p>
        <p id="vix"></p>
        <p id="correlation"></p>
      </div>
    </div>
    <div class="dividends">
      <p>Dividends</p>
      <div class="dividend-info">
        <p id="dividendRate"></p>
        <p id=payoutratio></p>  
        <p id="ex_div_date"></p>
        <div class="grid-container">
          <p>Latest Dividends</p>
          <ul id="dividend-tail" class="dividend-list"></ul> 
        </div>      
      </div>
    </div>
    <div class="financials">
      <p>Financials</p>
      <div class="financial-data">
        <p id="market_cap"></p>
        <p id="ebitda"></p>
        <div class="grid-container">
          <p>EPS</p>
          <ul id="eps" class="fcf-list"></ul> 
        </div>
        <p id="pe_ratio"></p>
        <p id="pb_ratio"></p>
        <p id="ps_ratio"></p>
        <div class="grid-container">
          <p>Free Cash Flow</p>
          <ul id="fcf-list" class="fcf-list"></ul> 
        </div> 
      </div>
    </div>
  </div>
  <div class="grid-container">
    <div class="results">
      <h1>Results</h1>
      <div class="grid-container">
        <p class="results" id="ln_position"></p>
      <p id="slope_sign"></p>
      <p id="r2_value"></p>
      <p id="rsi_value"></p>
      <p id="price_trend"></p>
      <p id="vix_state"></p>
      <p id="vix_trend"></p>
      <p id="ratio_trend"></p>
      <p id="dividend_trend"></p>
      <p id="eps_trend"></p>
      <p id="fcf_trend"></p>
      <p id="mxn_trend"></p>
      </div>
    </div>
    <div class="chart-box">
      <p>MXN/USD</p>
      <canvas id="chart7"></canvas>
    </div>
  </div>
  
  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
